@media (min-width: 992px) {
    #navTitle {
        display: inline !important;
    }

    #logoContainer {
        top: 15% !important;
    }
}

@media (max-width: 991px) {
    #logoContainer {
        top: 40% !important;
    }
}

#notFoundContainer {
    top: 35% !important;
}

.tab-content {
    height: calc(100% - 10rem - 24px);
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}